<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat|Open+Sans+Condensed:300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <% include partials/head%>
</head>
<body>
    <% include partials/header%>
    <% include partials/carousel%>
    <% include partials/nav%>
    <section>
        <div class="container">
            <% products.forEach(function(product){ %>
                <figure class="card card-product">
                    <div class="img-wrap">
                        <action class="add-carinho">
                            <a href="/add-to-cart/<%=product._id %>" class="btn-add"> <span>Favorite</span></a>
                        </action>
                        <img class="bg-im" src="<%=product.url %>"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title"><%=product.title%></h4>
                    </figcaption>
                    <div class="price-wrap h5">
                            <span class="price-new">R$<%=product.price %></span>
                        </div><!-- price-wrap.// -->
                    <div class="bottom-wrap">
                        <a href="/product/<%=product._id %>" class="btn-details">Details</a>	
                        <a href="/add-to-cart/<%=product._id %>" class="btn-details">Add to cart</a>	
                    </div> <!-- bottom-wrap./-->
                </figure>
                <% });  %>
            </div>
        </section>
        <% include partials/footer%>
</body>
</html>
